<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

<body>
<div>
    <div class="container">
        <div class="page-header">
            <h1>Amazon Visualization <small>by Bolin Shen</small></h1>
        </div>
        <!-- Most Buy -->
        <div class="row row-no-gutters">
            <div class="panel panel-default col-md-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Most Buy</h3>
                </div>
                <div class="panel-body">
                    <label for="limits_buy">Item limits</label>
                    <input class="form-control" type="text" id="limits_buy" placeholder="10">
                </div>
                <div class="panel-body">
                    <label for="buy_reverse">Filter</label>
                    <select class="form-control" id="buy_reverse">
                        <option value="0">Ascending</option>
                        <option value="1">Descending</option>
                    </select>
                </div>
                <div class="panel-body pull-right">
                    <button class="btn btn-default" id="btn_buy">Get</button>
                </div>
            </div>

            <div class="panel panel-default col-md-7 col-md-offset-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Information Display</h3>
                </div>
                <div class="panel-body">
                    <div id="buy_info"></div>
                </div>
            </div>
        </div>
<!--Most View-->
        <div class="row row-no-gutters">
            <div class="panel panel-default col-md-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Most View</h3>
                </div>
                <div class="panel-body">
                    <label for="limits_buy">Item limits</label>
                    <input class="form-control" type="text" id="limits_view" placeholder="10">
                </div>
                <div class="panel-body">
                    <label for="buy_reverse">Filter</label>
                    <select class="form-control" id="view_reverse">
                        <option value="0">Ascending</option>
                        <option value="1">Descending</option>
                    </select>
                </div>
                <div class="panel-body pull-right">
                    <button class="btn btn-default" id="btn_view">Get</button>
                </div>
            </div>

            <div class="panel panel-default col-md-7 col-md-offset-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Information Display</h3>
                </div>
                <div class="panel-body">
                    <div id="view_info"></div>
                </div>
            </div>
        </div>
<!--Highest Rating-->
        <div class="row row-no-gutters">
            <div class="panel panel-default col-md-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Highest Rating</h3>
                </div>
                <div class="panel-body">
                    <label for="limits_buy">Item limits</label>
                    <input class="form-control" type="text" id="limits_rating" placeholder="10">
                </div>
                <div class="panel-body">
                    <label for="buy_reverse">Filter</label>
                    <select class="form-control" id="rating_reverse">
                        <option value="0">Ascending</option>
                        <option value="1">Descending</option>
                    </select>
                </div>
                <div class="panel-body pull-right">
                    <button class="btn btn-default" id="btn_rating">Get</button>
                </div>
            </div>

            <div class="panel panel-default col-md-7 col-md-offset-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Information Display</h3>
                </div>
                <div class="panel-body">
                    <div id="rating_info"></div>
                </div>
            </div>
        </div>
<!--Inference-->
        <div class="row row-no-gutters">
            <div class="panel panel-default col-md-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Category Inference by Graph Neural Network</h3>
                </div>
                <div class="panel-body">
                    <label for="limits_buy">Item Name</label>
                    <input class="form-control" type="text" id="infer_name" placeholder="name">
                </div>
                <div class="panel-body pull-right">
                    <button class="btn btn-default" id="btn_infer">Infer</button>
                </div>
            </div>

            <div class="panel panel-default col-md-7 col-md-offset-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Information Display</h3>
                </div>
                <div class="panel-body">
                    <div id="infer_info"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Graph Display</h3>
            </div>
            <div class="panel-body">
                <button onclick="window.open('http://127.0.0.1:5000/graph_small')" type="button" class="btn btn-info btn-lg btn-block">Small Graph</button>
                <button onclick="window.open('http://127.0.0.1:5000/graph')" type="button" class="btn btn-warning btn-lg btn-block">Full Graph</button>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $('#btn_buy').click(function () {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/most',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'limits': $("#limits_buy").val(),
                'reverse': $("#buy_reverse").val(),
                'type': "buy"
            }),
            success: function (data) {
                text = generateText(data.data)
                $("#buy_info").html(text)
            }
        })
    })

    $('#btn_view').click(function () {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/most',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'limits': $("#limits_view").val(),
                'reverse': $("#view_reverse").val(),
                'type': "view"
            }),
            success: function (data) {
                text = generateText(data.data)
                $("#view_info").html(text)
            }
        })
    })

    $('#btn_rating').click(function () {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/rating',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'limits': $("#limits_rating").val(),
                'reverse': $("#rating_reverse").val(),
            }),
            success: function (data) {
                text = generateText(data.data)
                $("#rating_info").html(text)
            }
        })
    })

    $('#btn_infer').click(function () {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/infer',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'item_name': $("#infer_name").val()
            }),
            success: function (data) {
                $("#infer_info").text(data.data)
            }
        })
    })

    function generateText(inputArray) {
        let outputHtml = "";

        inputArray.forEach(element => {
            outputHtml += `<p>${element}</p>`;
        });

        return outputHtml;
    }
</script>
</html>